<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{css/new.css}" href="../static/cssjs/css/new.css">
</head>
<body>
<div class="sidebar">
  <h1>Header</h1>
  <a>test1</a>
  <a>test2</a>
  <a>test3</a>
</div>
<div class="main">
  <p>The is a long text to i can test scrolling <br> bla bla bla bla bla
    The is a long text to i can test scrolling <br> bla bla bla bla bla
    The is a long text to i can test scrolling <br> bla bla bla bla bla
    The is a long text to i can test scrolling <br> bla bla bla bla bla
    The is a long text to i can test scrolling <br> bla bla bla bla bla
    The is a long text to i can test scrolling <br> bla bla bla bla bla
    The is a long text to i can test scrolling <br> bla bla bla bla bla
    The is a long text to i can test scrolling <br> bla bla bla bla bla
    The is a long text to i can test scrolling <br> bla bla bla bla bla
    The is a long text to i can test scrolling <br> bla bla bla bla bla
    The is a long text to i can test scrolling <br> bla bla bla bla bla
    The is a long text to i can test scrolling <br> bla bla bla bla bla
    The is a long text to i can test scrolling <br> bla bla bla bla bla
    The is a long text to i can test scrolling <br> bla bla bla bla bla
    The is a long text to i can test scrolling <br> bla bla bla bla bla
    The is a long text to i can test scrolling <br> bla bla bla bla bla
    The is a long text to i can test scrolling <br> bla bla bla bla bla
    The is a long text to i can test scrolling <br> bla bla bla bla bla
  </p>
</div>
</body>
</html>