<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Danmark mod madspild</title>
    <link rel="stylesheet" href="../static/cssjs/css/styles.css" th:href="@{/cssjs/css/styles.css}">
</head>
<body>
<div id="leftBox">
    <div class="sidebar">
        <h1 style="border-bottom: solid grey">
            <a href="#page3" class="hlp3" th:href="@{#page3}"><img src="../static/images/dmm-logo-green.svg"></a>
        </h1>
        <br>
        <a>Forbruger</a>
        <a>Virksomheder</a>
        <a>Organisationer</a>
        <a>Medlemmer</a>
        <div id="QA">
            <a>Om os</a>
            <a>Kontakt os</a>
            <a>Q&A</a>
        </div>
        <div id="kontakt">
            <p> Følg os</p>
            <img src="../static/images/Facebook-logo-blue-circle-large-transparent-png.png">
            <img src="../static/images/Facebook-logo-blue-circle-large-transparent-png.png">
            <img src="../static/images/Facebook-logo-blue-circle-large-transparent-png.png">

        </div>
</div>
    <div class="dropdown">
    <a>Forbruger</a>
    <a>Virksomheder</a>
    <a>Organisationer</a>
    <a>Medlemmer</a>
    <img src="../static/images/pngegg.png" id="dropdown-arrow"
         width="20px"
         height="20px">
    </div>
</div>
<div class="background">
</div>
<form>
  <h3>Login</h3>
  <label for="username">Brugernavn</label>
  <input type="text" id="username">
  <label for="password">Password</label>
  <input type="password" id="password">
  <button>Log In</button>
  <div class="social">
    <div class="go"><i class="fab fa-google"></i>  Google</div>
    <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
  </div>
</form>
</body>
</html>