<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Danmark mod madspild</title>
    <link rel="stylesheet" href="../static/cssjs/css/styles.css" th:href="@{/cssjs/css/styles.css}">
</head>
<body class="medlemmer-body">
<div id="leftBox">
    <div class="sidebar">
        <h1 style="border-bottom: solid grey">
            <a href="#page3" class="hlp3" th:href="@{/#page3}"><img src="../static/images/dmm-logo-green.svg"
                                                                   th:src="@{/images/dmm-logo-green.svg}"></a>
        </h1>
        <br>
        <a href="/templates/forbrugere.html" class="hlp3" th:href="@{/forbrugere}" style="text-decoration: none">Forbruger</a>
        <a>Virksomheder</a>
        <a>Organisationer</a>
        <a href="/templates/medlemmer.html" class="hlp3" th:href="@{/medlemmer}" style="text-decoration: none">Medlemmer</a>
        <div id="QA">
            <a>Om os</a>
            <a>Kontakt os</a>
            <a>Q&A</a>
        </div>
        <div id="kontakt">
            <p> Følg os</p>
            <img src="../static/images/Facebook-logo-blue-circle-large-transparent-png.png"
                 th:src="@{/images/Facebook-logo-blue-circle-large-transparent-png.png}">
            <img src="../static/images/twitter-logo.png"
                 th:src="@{/images/twitter-logo.png}">
            <img src="../static/images/instagram-logo.png"
                 th:src="@{/images/instagram-logo.png}">

        </div>
</div>
</div>
<div class="background">
</div>
<form>
  <h3>Signup</h3>
  <label for="username">Brugernavn</label>
  <input type="text" class="username">
  <label for="password">Password</label>
  <input type="password" class="password">
  <button>Signup</button>
  <div class="social">
    <div class="go"><i class="fab fa-google"></i><a href>Google</a></div>
    <div class="fb"><i class="fab fa-facebook"></i><a href>Facebook</a></div>
  </div>
</form>
<form class="form2">
    <h3>Login</h3>
    <label for="username">Brugernavn</label>
    <input type="text" id="username">
    <label for="password">Password</label>
    <input type="password" id="password">
    <button>Log In</button>
    <div class="social">
        <div class="go"><i class="fab fa-google"></i><a href>Google</a></div>
        <div class="fb"><i class="fab fa-facebook"></i><a href>Facebook</a></div>
    </div>
</form>
</body>
</html>