<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{css/styles.css}" href="../static/cssjs/css/styles.css">
</head>
<body>
<div class="sidebar">
    <h1>Header</h1>
    <a>test1</a>
    <a>test2</a>
    <a>test3</a>

</div>
<div class="dropdown">
    <div class="dropdown-content">
        <a>link</a>
        <a>link</a>
        <a>link</a>
        <a>link</a>
    </div>
    <img src="../static/images/pngegg.png" id="dropdown-arrow"
    width="20px"
    height="20px">
</div>
<div class="main">
    <p>The is a long text to i can test scrolling <br> bla bla bla bla bla
        The is a long text to i can test scrolling <br> bla bla bla bla bla
        The is a long text to i can test scrolling <br> bla bla bla bla bla
        The is a long text to i can test scrolling <br> bla bla bla bla bla
        The is a long text to i can test scrolling <br> bla bla bla bla bla
        The is a long text to i can test scrolling <br> bla bla bla bla bla
        The is a long text to i can test scrolling <br> bla bla bla bla bla
        The is a long text to i can test scrolling <br> bla bla bla bla bla
        The is a long text to i can test scrolling <br> bla bla bla bla bla
        The is a long text to i can test scrolling <br> bla bla bla bla bla
        The is a long text to i can test scrolling <br> bla bla bla bla bla
        The is a long text to i can test scrolling <br> bla bla bla bla bla
        The is a long text to i can test scrolling <br> bla bla bla bla bla
        The is a long text to i can test scrolling <br> bla bla bla bla bla
        The is a long text to i can test scrolling <br> bla bla bla bla bla
        The is a long text to i can test scrolling <br> bla bla bla bla bla
        The is a long text to i can test scrolling <br> bla bla bla bla bla
        The is a long text to i can test scrolling <br> bla bla bla bla bla
    </p>
</div>
</body>
</html>